*.iml
.gradle
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Ignore IDE & AI Agent folders
.idea/
.agent/

# Ignore APKs and build outputs
*.apk
/app/release/
/app/build/
